body {
    padding: 0;
    margin: 0;
}

header {
    z-index: 1;
    width: 100%;
    height: 10%;
    background-color: rgb(61, 61, 61);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    a {
        display: inline-block;
        padding: 10% 20px;
        color: white;
        text-decoration: none;

        &:hover {
            background-color: rgb(114, 114, 114);
        }
    }
}

#hero {
    width: 100%; 
    height: 600px;
    position: relative;
    overflow: hidden; 
}

    video {        
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: fill;        
        top: 0;
        left: 0;
          
    }

    .hero-tittle{
        margin-top: 20%;
            
    }

    

